html {
  height: 100%;
  background: radial-gradient(circle, #fff, #ccc);
  background: -webkit-radial-gradient(circle, #fff, #ccc);
  background: -o-radial-gradient(circle, #fff, #ccc);
  background: -moz-radial-gradient(circle, #fff, #ccc);
}

.clear {
  clear: both;
}

#container {
  height: 440px;
  width: 550px;
  background: #9DD2EA;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 0px 0px #009de4;
  -moz-box-shadow: 0px 4px 0px 0px #009de4;
  -webkit-box-shadow: 0px 4px 0px 0px #009de4;
}

.correctOrWrong {
  height: 10%;
  width: 25%;
  float: left;
  margin-left: 39%;
  border-radius: 4px;
  text-align: center;
}

#correct {
    background: #20b80e;
    box-shadow: 0px 4px 0px 0px #085c1a;
    -moz-box-shadow: 0px 4px 0px 0px #085c1a;
    -webkit-box-shadow: 0px 4px 0px 0px #085c1a;
    display: none;
}

#wrong {
  background: #cc1515;
  box-shadow: 0px 4px 0px 0px #8c1230;
  -moz-box-shadow: 0px 4px 0px 0px #8c1230;
  -webkit-box-shadow: 0px 4px 0px 0px #8c1230;
  display: none;
}

#score {
  float: right;
  height: 10%;
  width: 14%;
  background: #F1FE98;
  box-shadow: 0px 4px 0px 0px #9DA758;
  -moz-box-shadow: 0px 4px 0px 0px #9DA758;
  -webkit-box-shadow: 0px 4px 0px 0px #9DA758;
  padding: 0 0 4px 0;
  border-radius: 4px;
}

#score p {
  text-align: center;
  color: #9DA758;
}

#display {
  height: 40%;
  width: 80%;
  margin: 2% auto 0 auto;
  background: #9DA2E8;
  box-shadow: 0px 4px 0px 0px #535CA6;
  -moz-box-shadow: 0px 4px 0px 0px #535CA6;
  -webkit-box-shadow: 0px 4px 0px 0px #535CA6;
  border-radius: 4px;
}

#display p {
  display: inline;
  text-align: center;
  font-family: cursive;
  font-size: 600%;
  padding: 10% 30%;
}

#instructions {
  height: 15%;
  width: 80%;
  margin: -1% auto 0 auto;
  border-radius: 4px;
  box-shadow: 0px 4px 0px 0px #8055A6;
  -moz-box-shadow: 0px 4px 0px 0px #8055A6;
  -webkit-box-shadow: 0px 4px 0px 0px #8055A6;
  background: #B383D7;
}

#instructions p {
  text-align: center;
  padding: 6% 0;
}

#options {
margin: 2% auto;
width: 80%;
height: 19%;
}

.options {
  float: left;
  height: 100%;
  width: 19%;
  background: white;
  margin: 0 4%;
  border-radius: 4px;
  box-shadow: 0px 4px 0px 0px #7FA8BA;
  -moz-box-shadow: 0px 4px 0px 0px #7FA8BA;
  -webkit-box-shadow: 0px 4px 0px 0px #7FA8BA;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
}

.options:hover {
  cursor: pointer;
}

.options:active {
  background: #9C8CF3;
  box-shadow: 0px 4px 0px 0px #5f52a6;
  -moz-box-shadow: 0px 4px 0px 0px #5f52a6;
  -webkit-box-shadow: 0px 4px 0px 0px #5f52a6;
  height: 90%;
  margin-top: 1%;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
}

.options p {
  padding: 20% 0;
  text-align: center;
}

#option1 {
  margin-left: 0;
}

#option4 {
  margin-right: 0;
}

#togglegame {
  background: #CFE8F4;
  float: left;
  width: 20%;
  height: 7.5%;
  margin: 1px 0 0 40%;
  box-shadow: 0px 4px 0px 0px #7FA8BA;
  -moz-box-shadow: 0px 4px 0px 0px #7FA8BA;
  -webkit-box-shadow: 0px 4px 0px 0px #7FA8BA;
  border-radius: 4px;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  text-align: center;
}

#togglegame:hover {
  cursor: pointer;
}

#togglegame:active {
  background: #9C8CF3;
  box-shadow: 0px 4px 0px 0px #5f52a6;
  -moz-box-shadow: 0px 4px 0px 0px #5f52a6;
  -webkit-box-shadow: 0px 4px 0px 0px #5f52a6;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  height: 7%;
}

#togglegame p {
  position: absolute;
  line-height: 100%;
  margin: 0.7% 1.5%;
}

#counter {
  float: right;
  width: 28%;
  height: 7.5%;
  background: #B1E45E;
  box-shadow: 0px 4px 0px 0px #7FA8BA;
  -moz-box-shadow: 0px 4px 0px 0px #7FA8BA;
  -webkit-box-shadow: 0px 4px 0px 0px #7FA8BA;
  margin: 0;
  border-radius: 4px;
  text-align: center;
}

#counter p {
  position: absolute;
  margin: 0.7% 0 0 0.9%;
}

#counter {
  display: none;
}

#endResults {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  height: 35%;
  width: 40%;
  margin: 18% 0 0 30%;
  background: white;
  text-align: center;
  background: #F1926F;
  border-radius: 4px;
  z-index: 2;
  /*box-shadow: 0px 4px 0px 0px #a47710; */
}

#endResults p {
  color: white;
  font-size: 35px;
  margin-top: 11%;
}
